<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>

<style>
  .sd-formFields .sd-filter {
    background: url("{{ 'select_arrow.png' | asset_url }}") center right no-repeat;
      }
</style>

{% assign finalmf = "" %}

<div class="page-width">
  {% if section.settings.title != blank %}
  <div class="title h3 sd-title">
    {{ section.settings.title }}
  </div>
  {% endif %}
  <div class="sd-formFields">
    <ul class="sd-dropdowns">
      <li class="sd-field_1">       
        <div class="dropdown">
          <button id="dropbtn1" class="dropbtn sd-filter">Maker</button>
          <div id="dropdown-field_1" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput1" class="myInput">
            <div class="dropdown-content-list" id="brand-list">
            </div>
          </div>
        </div>       
      </li>
      <li class="sd-field_2">        
       <div class="dropdown">
          <button id="dropbtn2" class="dropbtn sd-filter" disabled>Model</button>
          <div id="dropdown-field_2" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput2" class="myInput">  
            <div class="dropdown-content-list">
            </div>
          </div>
        </div> 
      </li>
      <li class="sd-field_3">        
       <div class="dropdown">
          <button id="dropbtn3" class="dropbtn sd-filter" disabled>Parts</button>
          <div id="dropdown-field_3" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput3" class="myInput">
            <div class="dropdown-content-list">
            </div>
          </div>
        </div> 
      </li>
      <li class="sd-field_4">        
        <div class="dropdown">
          <button id="dropbtn4" class="dropbtn sd-filter" disabled>Manufacturer</button>
          <div id="dropdown-field_4" class="dropdown-content">
            <input type="text" placeholder="Search.." id="myInput4" class="myInput">   
            <div class="dropdown-content-list">
            </div>
          </div>
        </div> 
      </li>      
      <li class="sd_bttns">
        <div id="ymm_actions" class="button-action" align="center">
          <input type="button" name="submit" id="sd_search" value="GO" class="button sd_search"/>
          <input type="button" name="reset" id="sd_reset" value="Reset" class="button sd_reset"/>
        </div>
      </li>
    </ul>
  </div>
</div>

{% schema %}
{
"name": "t:sections.search-dropdowns.name",
"tag": "section",
"class": "section",
"settings": [
{
"type": "text",
"id": "title",
"default": "Search Dropdowns",
"label": "t:sections.search-dropdowns.settings.title.label"
}  
],
"presets": [
{
"name": "t:sections.search-dropdowns.presets.name"
}
]
}
{% endschema %}
<script> 
 $(document).ready(function(){

    var menuArr = [{"abarth": {"124-spider": ["suspension"], "500-312": ["exhaust-systems"], "595-500": ["exhaust-systems", "suspension"], "grande-punto-199": ["suspension"]}, "acura": {"rl": ["suspension"]}, "alfa romeo": {"145-146-930": ["suspension"], "147-937": ["suspension"], "155-167": ["suspension"], "156-932": ["suspension"], "159-939": ["suspension"], "164": ["suspension"], "166": ["suspension"], "33-907": ["suspension"], "4c-+-4c-spider-960-961": ["suspension"], "75-162": ["suspension"], "8c-920": ["suspension"], "brera-939": ["suspension"], "giulia-952": ["exhaust-systems", "suspension"], "giulietta-940": ["suspension"], "gt-coupe-937": ["suspension"], "gtv-spider-coupe-916": ["suspension"], "mito-955": ["suspension"], "spider-939": ["suspension"], "stelvio-949": ["exhaust-systems", "suspension"], "tonale-965": ["suspension"]}, "alpine": {"a110-aef": ["suspension"]}, "aston martin": {"db11": ["suspension"], "db9": ["suspension"], "dbs": ["suspension"], "vanquish": ["suspension"], "vantage": ["suspension"]}, "audi": {"100-a6-c4": ["suspension"], "100-c3": ["suspension"], "200-44": ["suspension"], "50-86": ["suspension"], "80-90-b2": ["suspension"], "80-90-b3": ["suspension"], "80-b4": ["suspension"], "a1-8x": ["exhaust-systems", "suspension"], "a1-gb": ["exhaust-systems", "suspension"], "a2-8z": ["suspension"], "a3-8l": ["exhaust-systems", "suspension"], "a3-8p": ["exhaust-systems", "suspension"], "a3-8v": ["exhaust-systems", "suspension"], "a3-8y": ["suspension"], "a4-8h-convertible": ["suspension"], "a4-b5": ["suspension"], "a4-b6": ["exhaust-systems", "suspension"], "a4-b7": ["exhaust-systems", "suspension"], "a4-b8": ["exhaust-systems", "suspension"], "a4-b9": ["exhaust-systems", "suspension"], "a5-8t": ["exhaust-systems", "suspension"], "a5-f5": ["exhaust-systems", "suspension"], "a6-4b-c5": ["suspension"], "a6-4f-c6": ["suspension"], "a6-4g-c7": ["exhaust-systems", "suspension"], "a6-f2-c8": ["exhaust-systems", "suspension"], "a7-4g-4g1-c7": ["exhaust-systems", "suspension"], "a7-f2-c8": ["exhaust-systems", "suspension"], "a8-8h-d4": ["suspension"], "a8-d2-4d": ["suspension"], "a8-d3-4e": ["suspension"], "a8-d4-4h": ["suspension"], "a8-d4-8h": ["suspension"], "a8-d5-f8": ["suspension"], "coupe-89": ["suspension"], "e-tron-ge": ["suspension"], "e-tron-gt-fw": ["suspension"], "q2-ga": ["exhaust-systems", "suspension"], "q3-8u-8u1": ["suspension"], "q3-f3": ["exhaust-systems", "suspension"], "q4-e-tron-f4": ["suspension"], "q5-8r": ["suspension"], "q5-fy": ["suspension"], "q7-4l": ["exhaust-systems", "suspension"], "q7-4m": ["exhaust-systems", "suspension"], "q8-4m": ["exhaust-systems", "suspension"], "r8-42": ["exhaust-systems", "suspension"], "rs2-p1": ["suspension"], "rs3-8p": ["exhaust-systems", "suspension"], "rs3-8v": ["exhaust-systems", "suspension"], "rs3-8y": ["body-parts", "exhaust-systems", "suspension"], "rs4-b5": ["exhaust-systems", "suspension"], "rs4-b7": ["exhaust-systems", "suspension"], "rs4-b8": ["exhaust-systems", "suspension"], "rs4-b9": ["exhaust-systems", "suspension"], "rs5-8t": ["exhaust-systems", "suspension"], "rs5-f5": ["exhaust-systems", "suspension"], "rs6-4b-c5": ["exhaust-systems", "suspension"], "rs6-4f-c6": ["exhaust-systems", "suspension"], "rs6-4g-c7": ["exhaust-systems", "suspension"], "rs6-f2-c8": ["body-parts", "exhaust-systems", "suspension"], "rs7-4g-c7": ["exhaust-systems", "suspension"], "rs7-f2-c8": ["body-parts", "exhaust-systems", "suspension"], "rsq3-8u-8u1": ["suspension"], "rsq3-f3": ["exhaust-systems", "suspension"], "rsq8-4m": ["exhaust-systems", "suspension"], "s1-8x": ["exhaust-systems", "suspension"], "s2-b4": ["suspension"], "s3-8l": ["exhaust-systems", "suspension"], "s3-8p": ["exhaust-systems", "suspension"], "s3-8v": ["exhaust-systems", "suspension"], "s3-8y": ["exhaust-systems", "suspension"], "s4-b5": ["suspension"], "s4-b6": ["exhaust-systems", "suspension"], "s4-b7": ["exhaust-systems", "suspension"], "s4-b8": ["exhaust-systems", "suspension"], "s4-b9": ["exhaust-systems", "suspension"], "s4-c4": ["suspension"], "s5-5f": ["exhaust-systems", "suspension"], "s5-8t": ["exhaust-systems", "suspension"], "s6-4b-c5": ["suspension"], "s6-4f-c6": ["exhaust-systems", "suspension"], "s6-4g-c7": ["exhaust-systems", "suspension"], "s6-c4": ["suspension"], "s6-f2-c8": ["exhaust-systems", "suspension"], "s7-4g-c7": ["exhaust-systems"], "s7-f2-c8": ["exhaust-systems", "suspension"], "s8-d2-4d": ["suspension"], "s8-d3-4e": ["suspension"], "s8-d4-4h": ["exhaust-systems", "suspension"], "s8-d5-4n": ["exhaust-systems", "suspension"], "sq2-ga": ["exhaust-systems", "suspension"], "sq5-8r1": ["exhaust-systems", "suspension"], "sq5-fy": ["exhaust-systems", "suspension"], "sq7-4m": ["exhaust-systems", "suspension"], "sq8-4m": ["exhaust-systems", "suspension"], "tt-tts-8n": ["exhaust-systems", "suspension"], "tt-tts-ttrs-8j": ["exhaust-systems", "suspension"], "tt-tts-ttrs-8s": ["exhaust-systems", "suspension"], "urquattro-85": ["exhaust-systems", "suspension"], "v8-d11-c4": ["suspension"]}, "bentley": {"bentayga": ["suspension"], "continental-flying-spur-3w": ["suspension"], "continental-gt-3s": ["suspension"], "continental-gt-3w": ["suspension"], "flying-spur-3s": ["suspension"]}, "bmw": {"e10-02series": ["suspension"], "e12-5series": ["suspension"], "e21-3series": ["suspension"], "e23-7series": ["suspension"], "e24-6series": ["suspension"], "e28-5series": ["suspension"], "e28-m5": ["suspension"], "e30-3series": ["exhaust-systems", "suspension"], "e30-m3": ["exhaust-systems", "suspension"], "e31-8series": ["exhaust-systems", "suspension"], "e32-7series": ["exhaust-systems", "suspension"], "e34-5series": ["exhaust-systems", "suspension"], "e34-m5": ["exhaust-systems", "suspension"], "e36-3series": ["exhaust-systems", "suspension"], "e36-m3": ["exhaust-systems", "suspension"], "e38-7series": ["exhaust-systems", "suspension"], "e39-5series": ["exhaust-systems", "suspension"], "e39-m5": ["exhaust-systems", "suspension"], "e46-3series": ["exhaust-systems", "suspension"], "e46-m3": ["exhaust-systems", "suspension"], "e52-z8": ["exhaust-systems", "suspension"], "e53-x5": ["suspension"], "e60-e61-5series": ["exhaust-systems", "suspension"], "e60-e61-m5": ["exhaust-systems", "suspension"], "e63-e64-6series": ["exhaust-systems", "suspension"], "e63-e64-m6": ["exhaust-systems", "suspension"], "e65-e66-7series": ["exhaust-systems", "suspension"], "e70-x5-+-x5m": ["exhaust-systems", "suspension"], "e71-x6-+-x6m": ["exhaust-systems", "suspension"], "e81-e82-e87-e88-1series": ["exhaust-systems", "suspension"], "e82-m-coupe-1series": ["exhaust-systems", "suspension"], "e83-x3": ["suspension"], "e84-x1": ["suspension"], "e85-e86-z4-m-roadster-+-m-coupe": ["exhaust-systems", "suspension"], "e85-e86-z4-roadster-+-coupe": ["exhaust-systems", "suspension"], "e89-z4": ["exhaust-systems", "suspension"], "e90-e91-e92-e93-3series": ["exhaust-systems", "suspension"], "e90-e92-e93-m3": ["exhaust-systems", "suspension"], "f01-f02-7series": ["suspension"], "f06-f12-f13-6series": ["exhaust-systems", "suspension"], "f06-f12-f13-m6": ["exhaust-systems", "suspension"], "f07-f10-f11-5series": ["exhaust-systems", "suspension"], "f10-f11-5series": ["suspension"], "f10-m5": ["exhaust-systems", "suspension"], "f15-x5": ["suspension"], "f16-x6": ["suspension"], "f20-f21-1series": ["body-parts", "exhaust-systems", "suspension"], "f22-f23-2series": ["body-parts", "exhaust-systems", "suspension"], "f25-x3": ["exhaust-systems", "suspension"], "f26-x4": ["exhaust-systems", "suspension"], "f30-f31-f34-3series": ["body-parts", "exhaust-systems", "suspension"], "f32-f33-f36-4series": ["body-parts", "exhaust-systems", "suspension"], "f39-x2": ["exhaust-systems", "suspension"], "f40-1series": ["exhaust-systems", "suspension"], "f44-2series-gran-coupe": ["exhaust-systems", "suspension"], "f45-f46-2series-tourer": ["exhaust-systems", "suspension"], "f48-x1": ["exhaust-systems", "suspension"], "f80-m3": ["body-parts", "exhaust-systems", "suspension"], "f82-f83-m4": ["body-parts", "exhaust-systems", "suspension"], "f85-x5m": ["body-parts", "exhaust-systems", "suspension"], "f86-x6m": ["body-parts", "exhaust-systems", "suspension"], "f87-m2": ["body-parts", "exhaust-systems", "suspension"], "f90-m5": ["body-parts", "exhaust-systems", "suspension"], "f91-f92-f93-m8": ["body-parts", "exhaust-systems", "suspension"], "f95-x5m": ["body-parts", "exhaust-systems", "suspension"], "f96-x6m": ["body-parts", "exhaust-systems", "suspension"], "f97-x3m": ["exhaust-systems", "suspension"], "f98-x4m": ["body-parts", "exhaust-systems", "suspension"], "g01-x3": ["suspension"], "g02-x4": ["suspension"], "g05-x5": ["suspension"], "g06-x6": ["exhaust-systems", "suspension"], "g07-x7": ["suspension"], "g08-ix3": ["suspension"], "g11-g12-7series": ["exhaust-systems", "suspension"], "g14-g15-g16-8series": ["exhaust-systems", "suspension"], "g20-g21-3series": ["exhaust-systems", "suspension"], "g22-g23-g26-4series": ["exhaust-systems", "suspension"], "g26-i4": ["suspension"], "g29-z4": ["exhaust-systems", "suspension"], "g30-g31-5series": ["exhaust-systems", "suspension"], "g32-6series-gt": ["exhaust-systems", "suspension"], "g42-2series": ["exhaust-systems", "suspension"], "g80-g81-m3": ["body-parts", "exhaust-systems", "suspension"], "g82-g83-m4": ["body-parts", "exhaust-systems", "suspension"], "i3": ["suspension"], "i8": ["exhaust-systems", "suspension"], "ix-i20": ["suspension"], "u06-2series-active-tourer": ["suspension"], "u11-x1": ["suspension"], "z1": ["suspension"], "z3": ["exhaust-systems", "suspension"], "z3-m-roadster-+-m-coupe": ["exhaust-systems", "suspension"]}, "cadillac": {"ats": ["suspension"], "bls": ["suspension"]}, "chevrolet": {"aveo": ["suspension"], "blazer-": ["suspension"], "camaro-mk5": ["suspension"], "camaro-mk6": ["suspension"], "captiva": ["suspension"], "corvette-c5": ["suspension"], "corvette-c6": ["exhaust-systems", "suspension"], "corvette-c7": ["exhaust-systems"], "corvette-c8": ["exhaust-systems", "suspension"], "cruze": ["suspension"], "epica": ["suspension"], "evanda-leganza": ["suspension"], "kalos-lanos-aveo": ["suspension"], "lacetti": ["suspension"], "lanos": ["suspension"], "malibu": ["suspension"], "matiz": ["suspension"], "nexia-espero": ["suspension"], "nubira": ["suspension"], "orlando": ["suspension"], "spark": ["suspension"], "trailblazer": ["suspension"], "trax-tracker": ["suspension"]}, "chrysler": {"300c": ["suspension"], "300m": ["suspension"], "aspen": ["suspension"], "crossfire": ["suspension"], "neon": ["suspension"], "pt-cruiser": ["suspension"], "sebring-stratus": ["suspension"], "vision": ["suspension"], "voyager": ["suspension"]}, "citroen": {"ax": ["suspension"], "berlingo": ["suspension"], "c-crosser": ["suspension"], "c-zero": ["suspension"], "c1": ["suspension"], "c2": ["suspension"], "c3": ["suspension"], "c4": ["exhaust-systems", "suspension"], "c5": ["exhaust-systems", "suspension"], "c8": ["suspension"], "ds3": ["exhaust-systems", "suspension"], "ds4": ["exhaust-systems", "suspension"], "ds5": ["exhaust-systems"], "ds7-crossback": ["suspension"], "evasion": ["suspension"], "jumpy": ["suspension"], "saxo": ["suspension"], "xantia": ["suspension"], "xm": ["suspension"], "xsara": ["suspension"], "zx": ["suspension"]}, "cupra": {"ateca-5fp": ["exhaust-systems", "suspension"], "born": ["suspension"], "formentor": ["exhaust-systems", "suspension"], "leon-5f": ["exhaust-systems"], "leon-kl": ["exhaust-systems", "suspension"]}, "dacia": {"dokker": ["suspension"], "duster": ["suspension"], "jogger": ["suspension"], "lodgy": ["suspension"], "logan": ["suspension"], "sandero": ["suspension"], "spring": ["suspension"]}, "daihatsu": {"applause": ["suspension"], "charade": ["suspension"], "copen": ["suspension"], "feroza": ["suspension"], "grand-move": ["suspension"], "materia": ["suspension"], "rocky": ["suspension"], "sirion": ["suspension"], "terios": ["suspension"], "trevis": ["suspension"]}, "dodge": {"avenger": ["suspension"], "caliber": ["suspension"], "challenger": ["exhaust-systems", "suspension"], "charger": ["suspension"], "dakota": ["suspension"], "durango": ["suspension"], "journey": ["suspension"], "magnum": ["suspension"], "neon": ["suspension"], "nitro": ["suspension"], "ram": ["exhaust-systems", "suspension"], "viper": ["suspension"]}, "ds": {"ds3": ["suspension"], "ds4": ["suspension"], "ds7-crossback": ["suspension"]}, "ferrari": {"308-gtb-s-": ["suspension"], "328-gtb-s": ["suspension"], "348-tb-ts-gtb-gts-": ["suspension"], "456gt": ["suspension"], "458-italia": ["suspension"], "488-gtb": ["exhaust-systems", "suspension"], "599-gtb": ["suspension"], "812": ["suspension"], "california": ["suspension"], "f355": ["suspension"], "f360-modena": ["suspension"], "f430": ["suspension"], "f512": ["suspension"], "f550-maranello": ["suspension"], "f575-m-maranello": ["suspension"], "f8": ["suspension"], "mondial": ["suspension"], "roma": ["suspension"], "testarossa": ["suspension"]}, "fiat": {"124-spider": ["exhaust-systems", "suspension"], "500-312": ["exhaust-systems", "suspension"], "500-332": ["suspension"], "barchetta": ["suspension"], "brava-bravo": ["suspension"], "cinquecento-seicento": ["suspension"], "coupe": ["suspension"], "croma": ["suspension"], "freemont": ["suspension"], "fullback": ["suspension"], "grande-punto-199": ["suspension"], "idea": ["suspension"], "linea": ["suspension"], "multipla": ["suspension"], "palio": ["suspension"], "panda": ["suspension"], "punto-176": ["suspension"], "punto-188": ["suspension"], "sedici": ["suspension"], "stilo-192": ["suspension"], "talento": ["suspension"], "tipo-tempra": ["suspension"], "ulysse-scudo": ["suspension"], "uno-146a": ["suspension"]}, "ford": {"b-max": ["suspension"], "bronco": ["suspension"], "c-max": ["suspension"], "capri": ["suspension"], "cougar": ["suspension"], "ecosport": ["suspension"], "edge": ["suspension"], "escape": ["suspension"], "escort": ["suspension"], "explorer": ["suspension"], "f150": ["exhaust-systems", "suspension"], "fiesta-mk1": ["suspension"], "fiesta-mk2": ["suspension"], "fiesta-mk3": ["suspension"], "fiesta-mk4": ["suspension"], "fiesta-mk5": ["suspension"], "fiesta-mk6": ["exhaust-systems", "suspension"], "fiesta-mk7": ["exhaust-systems", "suspension"], "fiesta-mk8": ["exhaust-systems", "suspension"], "focus-mk1": ["suspension"], "focus-mk2": ["exhaust-systems", "suspension"], "focus-mk3": ["exhaust-systems", "suspension"], "focus-mk4": ["exhaust-systems", "suspension"], "fusion": ["suspension"], "galaxy-": ["suspension"], "ka": ["suspension"], "kuga-mk1": ["suspension"], "kuga-mk2": ["suspension"], "kuga-mk3": ["suspension"], "maverick": ["suspension"], "mondeo-mk1": ["suspension"], "mondeo-mk2": ["suspension"], "mondeo-mk3": ["exhaust-systems", "suspension"], "mondeo-mk4": ["suspension"], "mondeo-mk5": ["suspension"], "mustang-mach-e": ["exhaust-systems", "suspension"], "mustang-mk1": ["suspension"], "mustang-mk4": ["suspension"], "mustang-mk5": ["suspension"], "mustang-mk6": ["exhaust-systems", "suspension"], "probe": ["suspension"], "puma": ["exhaust-systems", "suspension"], "ranger": ["exhaust-systems", "suspension"], "s-max": ["suspension"], "scorpio": ["suspension"], "sierra": ["suspension"], "tourneo--transit-custom": ["suspension", NaN], "windstar": ["suspension"]}, "holden": {"astra-h": ["suspension"], "barina": ["suspension"], "captiva": ["suspension"], "cruze": ["suspension"], "epica": ["suspension"], "malibu": ["suspension"], "trax-tracker": ["suspension"]}, "honda": {"accord-mk10": ["suspension"], "accord-mk3": ["suspension"], "accord-mk4": ["suspension"], "accord-mk5": ["suspension"], "accord-mk6": ["suspension"], "accord-mk7": ["suspension"], "accord-mk8": ["suspension"], "brio": ["suspension"], "city": ["suspension"], "civic-mk10": ["exhaust-systems", "suspension"], "civic-mk11": ["exhaust-systems", "suspension"], "civic-mk3": ["suspension"], "civic-mk4": ["suspension"], "civic-mk5": ["suspension"], "civic-mk6": ["suspension"], "civic-mk7": ["exhaust-systems", "suspension"], "civic-mk8": ["exhaust-systems", "suspension"], "civic-mk9": ["exhaust-systems", "suspension"], "concerto": ["suspension"], "cr-v": ["suspension"], "cr-z": ["exhaust-systems", "suspension"], "crx-mk1": ["suspension"], "crx-mk2": ["suspension"], "crx-mk3": ["suspension"], "e": ["exhaust-systems", "suspension"], "fr-v": ["suspension"], "hr-v": ["suspension"], "integra": ["exhaust-systems", "suspension"], "jazz": ["suspension"], "legend": ["suspension"], "logo": ["suspension"], "nsx": ["suspension"], "prelude": ["suspension"], "s2000": ["exhaust-systems", "suspension"], "shuttle": ["suspension"], "stream": ["suspension"]}, "hummer": {"h2": ["suspension"]}, "hyundai": {"accent-mk1": ["suspension"], "accent-mk2": ["suspension"], "accent-mk3": ["suspension"], "accent-mk4": ["suspension"], "accent-mk5": ["suspension"], "atos": ["suspension"], "bayon": ["suspension"], "coupe": ["suspension"], "elantra": ["suspension"], "galloper": ["suspension"], "genesis": ["exhaust-systems", "suspension"], "getz": ["suspension"], "grandeur": ["suspension"], "i10-mk1": ["suspension"], "i10-mk2": ["suspension"], "i10-mk3": ["suspension"], "i20-mk1": ["suspension"], "i20-mk2": ["suspension"], "i20-mk3": ["exhaust-systems", "suspension"], "i30-mk1": ["suspension"], "i30-mk2": ["suspension"], "i30-mk3": ["exhaust-systems", "suspension"], "i40": ["suspension"], "ioniq": ["suspension"], "ioniq-5": ["suspension"], "ioniq-6": ["suspension"], "ix20": ["suspension"], "ix35": ["exhaust-systems", "suspension"], "ix55": ["suspension"], "kona": ["exhaust-systems", "suspension"], "lantra": ["suspension"], "pony-mk3": ["suspension"], "santa-fe-mk1": ["suspension"], "santa-fe-mk2": ["suspension"], "santa-fe-mk3": ["suspension"], "santa-fe-mk4": ["suspension"], "solaris": ["suspension"], "sonata": ["suspension"], "terracan": ["suspension"], "trajet": ["suspension"], "tucson-mk1": ["suspension"], "tucson-mk2": ["suspension"], "tucson-mk3": ["exhaust-systems", "suspension"], "tucson-mk4": ["suspension"], "veloster": ["suspension"], "veracruz": ["suspension"]}, "infiniti": {"ex": ["suspension"], "fx": ["suspension"], "g": ["suspension"], "m": ["suspension"], "q": ["suspension"]}, "isuzu": {"amigo": ["suspension"], "d-max": ["suspension"], "trooper": ["suspension"]}, "jaguar": {"e-pace-x540": ["suspension"], "f-pace-x761": ["suspension"], "f-type-s-qq6": ["suspension"], "i-pace-x590": ["suspension"], "s-type-ccx": ["suspension"], "x-type-cf1": ["suspension"], "xe-x760": ["suspension"], "xf-x250": ["suspension"], "xf-x260": ["suspension"], "xj-xjr-xj-x300": ["suspension"], "xj8-xjr-x308": ["suspension"], "xk-x150": ["suspension"], "xk8-xkr-x100": ["suspension"]}, "jeep": {"cherokee": ["suspension"], "commander": ["suspension"], "compass": ["suspension"], "gladiator": ["exhaust-systems", "suspension"], "grand-cherokee": ["suspension"], "patriot": ["suspension"], "renegade": ["suspension"], "wrangler": ["suspension"]}, "kia": {"cadenza": ["suspension"], "carens": ["suspension"], "carnival-sedona": ["suspension"], "cee'd-+-pro-cee'd-mk1-ed": ["suspension"], "cee'd-+-pro-cee'd-mk2-jd": ["suspension"], "cee'd-+-pro-cee'd-mk3-cd": ["suspension"], "cerato": ["suspension"], "clarus": ["suspension"], "ev6": ["suspension"], "joice-carstar": ["suspension"], "magentis": ["suspension"], "niro": ["suspension"], "oprius": ["suspension"], "optima-mk3": ["suspension"], "optima-mk4": ["suspension"], "optima-mk5": ["suspension"], "picanto": ["suspension"], "pride": ["suspension"], "rio-mk1": ["suspension"], "rio-mk2": ["suspension"], "rio-mk3": ["suspension"], "rio-mk4": ["suspension"], "rocsta": ["suspension"], "sephia": ["suspension"], "shuma": ["suspension"], "sorento-mk1": ["suspension"], "sorento-mk2": ["suspension"], "sorento-mk3": ["suspension"], "sorento-mk4": ["suspension"], "soul": ["suspension"], "sportage-mk1": ["suspension"], "sportage-mk2": ["suspension"], "sportage-mk3": ["exhaust-systems", "suspension"], "sportage-mk4": ["exhaust-systems", "suspension"], "sportage-mk5": ["suspension"], "stinger": ["exhaust-systems", "suspension"], "stonic": ["suspension"], "venga": ["suspension"]}, "lada": {"110-111-112": ["suspension"], "samara": ["suspension"], "vesta": ["suspension"]}, "lamborghini": {"aventador": ["exhaust-systems"], "gallardo": ["exhaust-systems", "suspension"], "huracan": ["exhaust-systems", "suspension"], "urus": ["exhaust-systems"]}, "lancia": {"dedra": ["suspension"], "delta": ["suspension"], "flavia": ["suspension"], "kappa": ["suspension"], "lybra": ["suspension"], "musa": ["suspension"], "phedra": ["suspension"], "prisma": ["suspension"], "thema": ["suspension"], "y": ["suspension"], "zeta": ["suspension"]}, "land rover": {"defender": ["exhaust-systems", "suspension"], "discovery-mk3-mk4": ["suspension"], "discovery-mk5": ["suspension"], "discovery-sport": ["suspension"], "evoque-mk1": ["suspension"], "evoque-mk2": ["suspension"], "freelander": ["suspension"], "range-rover-mk2": ["suspension"], "range-rover-mk3": ["suspension"], "range-rover-mk4": ["suspension"], "range-rover-mk5": ["suspension"], "range-rover-sport-mk1": ["suspension"], "range-rover-sport-mk2": ["exhaust-systems", "suspension"], "range-rover-sport-mk3": ["suspension"], "velar": ["suspension"]}, "lexus": {"ct": ["suspension"], "gs": ["suspension"], "is": ["suspension"], "rx": ["suspension"], "sc": ["suspension"], "ux": ["suspension"]}, "lotus": {"elise-exige-s2": ["suspension"], "elise-s1": ["suspension"], "emira": ["exhaust-systems"], "esprit": ["suspension"], "europa": ["suspension"], "evora": ["suspension"]}, "lynk & co": {"1": ["suspension"], "2": ["suspension"], "3": ["suspension"]}, "maserati": {"3200gt": ["suspension"], "4200-gran-sport": ["suspension"], "coupe-gt-gts-granturismo": ["suspension"], "ghibli": ["exhaust-systems", "suspension"], "grand-convertible": ["suspension"], "levante": ["suspension"], "mc20": ["suspension"], "quattroporte": ["suspension"]}, "mazda": {"121-db": ["suspension"], "121-jasm-jbsm": ["suspension"], "2-de": ["suspension"], "2-dj": ["suspension"], "2-dy": ["suspension"], "2-zv": ["suspension"], "3-bk": ["suspension"], "3-bl": ["suspension"], "3-bm": ["suspension"], "3-bp": ["suspension"], "323-ba": ["suspension"], "323-bf": ["suspension"], "323-bg": ["suspension"], "323-bj": ["suspension"], "5-cr": ["suspension"], "5-cw": ["suspension"], "6-gg-gy-gg1": ["suspension"], "6-gh": ["suspension"], "6-gj-gl": ["suspension"], "626-gc": ["suspension"], "626-gd-gv": ["suspension"], "626-ge-gf-gw": ["suspension"], "929": ["suspension"], "b-series": ["suspension"], "bt-50-b2500": ["suspension"], "cx3-dk": ["exhaust-systems", "suspension"], "cx30-dm": ["suspension"], "cx5-ke": ["suspension"], "cx5-kf": ["suspension"], "cx60-kh": ["suspension"], "cx7-er": ["suspension"], "demio-dw": ["suspension"], "mpv": ["suspension"], "mx3-ec": ["suspension"], "mx30-dr": ["suspension"], "mx5-na": ["suspension"], "mx5-nb": ["suspension"], "mx5-nc": ["exhaust-systems", "suspension"], "mx5-nd": ["exhaust-systems", "suspension"], "mx6-ge": ["suspension"], "premacy": ["suspension"], "rx7": ["suspension"], "rx8": ["suspension"], "rx8-se": ["suspension"], "tribute": ["suspension"], "xedos-6": ["suspension"], "xedos-9": ["suspension"]}, "mclaren": {"12c": ["exhaust-systems"], "540c": ["exhaust-systems"], "570s": ["exhaust-systems"], "650s": ["exhaust-systems"], "720s": ["exhaust-systems"]}, "mercedes": {"-8": ["suspension"], "190-w201": ["suspension"], "a-class-w168": ["suspension"], "a-class-w169": ["suspension"], "a-class-w176": ["exhaust-systems", "suspension"], "a-class-w177-v177": ["exhaust-systems", "suspension"], "b-class-w245": ["suspension"], "b-class-w246": ["suspension"], "b-class-w247": ["suspension"], "c-class-w202-s202": ["suspension"], "c-class-w203-s203": ["suspension"], "c-class-w204-s204": ["exhaust-systems", "suspension"], "c-class-w205-s205-c205-a205": ["exhaust-systems", "suspension"], "c-class-w206-s206": ["suspension"], "citan-w415": ["suspension"], "citan-w420": ["suspension"], "cl-c215": ["suspension"], "cl-c216": ["suspension"], "cla-c117": ["exhaust-systems", "suspension"], "cla-c118": ["exhaust-systems", "suspension"], "clk-w208": ["exhaust-systems", "suspension"], "clk-w209": ["exhaust-systems", "suspension"], "cls-c218": ["exhaust-systems", "suspension"], "cls-c219": ["suspension"], "cls-c257": ["suspension"], "e-class-coupe-convertible-a238-c238-": ["suspension"], "e-class-coupe-convertible-w207": ["exhaust-systems", "suspension"], "e-class-w210-s210": ["exhaust-systems", "suspension"], "e-class-w211-s211": ["exhaust-systems", "suspension"], "e-class-w212-s212": ["exhaust-systems", "suspension"], "e-class-w213-s213": ["exhaust-systems", "suspension"], "eqb": ["suspension"], "eqb-x243": ["suspension"], "eqc-n293": ["suspension"], "eqe-x294-v295": ["suspension"], "eqs-x296-v297": ["suspension"], "g-class-w463": ["exhaust-systems", "suspension"], "gl-x164": ["suspension"], "gla-h247": ["exhaust-systems", "suspension"], "gla-x156": ["exhaust-systems", "suspension"], "glb-x247": ["suspension"], "glc-c253-x253": ["suspension"], "gle-v167-c167": ["exhaust-systems", "suspension"], "glk-x204": ["suspension"], "gls-x166": ["suspension"], "gls-x167": ["exhaust-systems", "suspension"], "gt-4-door-x290": ["suspension"], "gt-gts-gtr-c190": ["suspension"], "gt-gts-gtr-c190-": ["exhaust-systems", "suspension"], "m-class-gle-w166-c292": ["exhaust-systems", "suspension"], "m-class-w163": ["suspension"], "m-class-w164": ["suspension"], "mb100": ["suspension"], "r-class-w251": ["suspension"], "s-class-coupe-c217": ["suspension"], "s-class-w116": ["suspension"], "s-class-w126": ["suspension"], "s-class-w140": ["exhaust-systems", "suspension"], "s-class-w220": ["exhaust-systems", "suspension"], "s-class-w221": ["suspension"], "s-class-w222": ["suspension"], "s-class-w223": ["suspension"], "sl-r107": ["exhaust-systems", "suspension"], "sl-r129": ["exhaust-systems", "suspension"], "sl-r230": ["exhaust-systems", "suspension"], "sl-r231": ["exhaust-systems", "suspension"], "sl-r232": ["suspension"], "slk-r170": ["suspension"], "slk-r171": ["suspension"], "slk-r172": ["suspension"], "slk-slc-r172": ["suspension"], "sls-c197": ["suspension"], "v-class-vito-w447-": ["suspension"], "v-class-vito-w638": ["suspension"], "vaneo-w414": ["suspension"], "viano-vito-w639": ["suspension"], "w123": ["suspension"], "w124": ["exhaust-systems", "suspension"], "x-class-w470": ["suspension"]}, "mg": {"f-ft": ["suspension"], "f-tf": ["suspension"]}, "mini": {"f54-f55-f56-f57-f60-14-": ["exhaust-systems", "suspension"], "r50-r52-r53-01-06": ["exhaust-systems", "suspension"], "r55-r56-r57-r58-r59-r60-r61-06-16": ["exhaust-systems", "suspension"]}, "mitsubishi": {"3000-gt": ["suspension"], "asx": ["suspension"], "carisma-da0": ["suspension"], "colt": ["suspension"], "eclipse": ["suspension"], "galant": ["suspension"], "grandis": ["suspension"], "i-miev": ["suspension"], "l200": ["suspension"], "lancer": ["exhaust-systems", "suspension"], "mirage": ["suspension"], "outlander": ["suspension"], "pajero": ["suspension"], "saporo": ["suspension"], "sigma": ["suspension"], "space-gear": ["suspension"], "space-runner": ["suspension"], "space-star": ["suspension"], "space-wagon": ["suspension"]}, "nissan": {"100nx": ["suspension"], "200sx": ["suspension"], "300zx": ["suspension"], "350z": ["exhaust-systems", "suspension"], "370z": ["exhaust-systems", "suspension"], "almera": ["suspension"], "bluebird": ["suspension"], "cherry-sunny": ["suspension"], "cube": ["suspension"], "figaro": ["suspension"], "gt-r": ["exhaust-systems", "suspension"], "juke": ["suspension"], "kubistar": ["suspension"], "leaf": ["suspension"], "maxima": ["suspension"], "micra": ["suspension"], "murano": ["suspension"], "navara": ["suspension"], "note": ["suspension"], "nv300": ["suspension"], "pathfinder": ["suspension"], "patrol": ["suspension"], "pick-up": ["suspension"], "pixo": ["suspension"], "primastar": ["suspension"], "primera": ["suspension"], "pulsar": ["suspension"], "qashqai": ["suspension"], "sunny": ["suspension"], "sylphy": ["suspension"], "terrano": ["suspension"], "tiida": ["suspension"], "townstar": ["suspension"], "x-trail": ["suspension"]}, "opel": {"adam": ["suspension"], "agila": ["suspension"], "antara": ["suspension"], "ascona": ["suspension"], "astra-f": ["suspension"], "astra-g": ["suspension"], "astra-h": ["suspension"], "astra-j": ["exhaust-systems", "suspension"], "astra-k": ["suspension"], "astra-l": ["suspension"], "calibra-a": ["suspension"], "cascada": ["suspension"], "combo": ["suspension"], "corsa-a": ["suspension"], "corsa-b": ["suspension"], "corsa-c": ["suspension"], "corsa-d": ["exhaust-systems", "suspension"], "corsa-e": ["suspension"], "corsa-f": ["suspension"], "crossland-x": ["suspension"], "frontera": ["suspension"], "grandland-x": ["suspension"], "gt": ["suspension"], "insignia-a": ["suspension"], "insignia-b": ["suspension"], "kadett-c": ["suspension"], "kadett-d": ["suspension"], "kadett-e": ["suspension"], "karl-a": ["suspension"], "manta": ["suspension"], "meriva-a": ["suspension"], "meriva-b": ["suspension"], "mokka-a": ["suspension"], "mokka-b": ["suspension"], "monterey": ["suspension"], "monza": ["suspension"], "omega-a": ["suspension"], "omega-b": ["suspension"], "senator": ["suspension"], "signum": ["suspension"], "sintra": ["suspension"], "speedster": ["suspension"], "tigra-a": ["suspension"], "tigra-twin-top": ["suspension"], "vectra-a": ["suspension"], "vectra-b": ["suspension"], "vectra-c": ["suspension"], "vivaro-a": ["suspension"], "vivaro-b": ["suspension"], "vivaro-c": ["suspension"], "zafira-a": ["suspension"], "zafira-b": ["suspension"], "zafira-c": ["suspension"], "zafira-life": ["suspension"]}, "peugeot": {"1007": ["suspension"], "106": ["suspension"], "107": ["suspension"], "108": ["suspension"], "2008": ["suspension"], "205": ["exhaust-systems", "suspension"], "206": ["suspension"], "207": ["exhaust-systems", "suspension"], "208": ["exhaust-systems", "suspension"], "3008": ["exhaust-systems", "suspension"], "306": ["suspension"], "307": ["suspension"], "308": ["exhaust-systems", "suspension"], "309": ["suspension"], "4007": ["suspension"], "4008": ["suspension"], "405": ["suspension"], "406": ["suspension"], "407": ["suspension"], "5008": ["exhaust-systems", "suspension"], "508": ["exhaust-systems", "suspension"], "605": ["suspension"], "607": ["suspension"], "806": ["suspension"], "807": ["suspension"], "expert": ["suspension"], "i-on": ["suspension"], "partner-ranch": ["suspension"], "rcz": ["exhaust-systems", "suspension"]}, "polestar": {"polestar-2": ["suspension"]}, "porsche": {"911-66-80": ["exhaust-systems", "suspension"], "911-964": ["suspension"], "911-965-turbo": ["suspension"], "911-991": ["body-parts", "exhaust-systems", "suspension"], "911-992": ["body-parts", "exhaust-systems", "suspension"], "911-993": ["suspension"], "911-996": ["exhaust-systems", "suspension"], "911-997": ["body-parts", "exhaust-systems", "suspension"], "924": ["suspension"], "928": ["suspension"], "944": ["suspension"], "959": ["suspension"], "968": ["suspension"], "boxster-718-982": ["body-parts", "exhaust-systems", "suspension"], "boxster-981": ["exhaust-systems", "suspension"], "boxster-986": ["suspension"], "boxster-987": ["exhaust-systems", "suspension"], "cayenne-955-957": ["suspension"], "cayenne-958": ["exhaust-systems", "suspension"], "cayenne-9ya": ["exhaust-systems", "suspension"], "cayman-718-982": ["body-parts", "exhaust-systems", "suspension"], "cayman-981": ["exhaust-systems", "suspension"], "cayman-987": ["exhaust-systems", "suspension"], "macan-95b": ["body-parts", "exhaust-systems", "suspension"], "panamera-970": ["exhaust-systems", "suspension"], "panamera-971": ["exhaust-systems", "suspension"], "taycan-y1a": ["suspension"]}, "proton": {"300-400": ["suspension"], "iriz": ["suspension"], "persona": ["suspension"]}, "renault": {"alaskan": ["suspension"], "arkana": ["suspension"], "austral": ["suspension"], "captur": ["suspension"], "clio-a": ["suspension"], "clio-b": ["exhaust-systems", "suspension"], "clio-c": ["exhaust-systems", "suspension"], "clio-d": ["suspension"], "clio-e": ["suspension"], "espace": ["suspension"], "fluence": ["suspension"], "kadjar": ["suspension"], "kangoo": ["suspension"], "koleos": ["suspension"], "laguna": ["suspension"], "latitude": ["suspension"], "megane-e-tech": ["suspension"], "megane-i": ["suspension"], "megane-ii": ["exhaust-systems", "suspension"], "megane-iii": ["exhaust-systems", "suspension"], "megane-iv": ["exhaust-systems", "suspension"], "modus": ["suspension"], "r19": ["suspension"], "r21": ["suspension"], "r5": ["suspension"], "r9": ["suspension"], "safrane": ["suspension"], "scenic": ["suspension"], "talisman": ["suspension"], "trafic": ["suspension"], "twingo": ["suspension"], "wind": ["suspension"], "zoe": ["suspension"]}, "rover": {"200-400": ["suspension"], "25": ["suspension"], "45": ["suspension"], "600": ["suspension"], "75": ["suspension"], "800": ["suspension"]}, "saab": {"09. Mai": ["suspension"], "09. Mrz": ["suspension"], "900": ["suspension"], "9000": ["suspension"], "alhambra-7n": ["suspension"]}, "scion": {"fr-s": ["exhaust-systems"]}, "seat": {"alhambra-7ms": ["suspension"], "alhambra-7n": ["suspension"], "altea-5p": ["exhaust-systems", "suspension"], "arona-kj": ["suspension"], "arosa-6h": ["suspension"], "ateca-5fp": ["suspension"], "cordoba-6k": ["suspension"], "cordoba-6l": ["suspension"], "exeo-3r": ["suspension"], "ibiza-021a": ["suspension"], "ibiza-6f": ["exhaust-systems", "suspension"], "ibiza-6j-6p": ["exhaust-systems", "suspension"], "ibiza-6k": ["suspension"], "ibiza-6l": ["exhaust-systems", "suspension"], "leon-1m": ["exhaust-systems", "suspension"], "leon-1p": ["exhaust-systems", "suspension"], "leon-5f": ["exhaust-systems", "suspension"], "leon-kl": ["exhaust-systems", "suspension"], "mii-aa": ["suspension"], "tarraco-kn": ["suspension"], "toledo-1l": ["suspension"], "toledo-1m": ["suspension"], "toledo-5p": ["exhaust-systems", "suspension"], "toledo-kg": ["suspension"]}, "skoda": {"citigo-aa": ["suspension"], "enyaq-iv-ny": ["suspension"], "fabia-5j": ["suspension"], "fabia-6y": ["exhaust-systems", "suspension"], "fabia-nj": ["exhaust-systems", "suspension"], "fabia-pj": ["suspension"], "favorit-forman": ["suspension"], "felicia": ["suspension"], "kamiq-nw": ["suspension"], "karoq-nu": ["exhaust-systems", "suspension"], "kodiaq-ns": ["suspension"], "octavia-1u": ["exhaust-systems", "suspension"], "octavia-1z": ["exhaust-systems", "suspension"], "octavia-5e": ["exhaust-systems", "suspension"], "octavia-nx": ["exhaust-systems", "suspension"], "praktik-5j": ["suspension"], "rapid-nh": ["suspension"], "roomster-5j": ["suspension"], "scala-nw": ["suspension"], "superb-3t": ["exhaust-systems", "suspension"], "superb-3u": ["suspension"], "superb-3v": ["exhaust-systems", "suspension"], "yeti-5l": ["suspension"]}, "smart": {"forfour-453": ["suspension"], "forfour-454": ["suspension"], "fortwo-450": ["suspension"], "fortwo-451": ["suspension"], "fortwo-453": ["suspension"], "roadster-coupe-452": ["suspension"]}, "ssangyong": {"korando": ["suspension"], "musso": ["suspension"], "rexton": ["suspension"]}, "subaru": {"brz": ["exhaust-systems", "suspension"], "dex": ["suspension"], "forester": ["suspension"], "impreza": ["exhaust-systems", "suspension"], "justy": ["suspension"], "legacy": ["suspension"], "levorg": ["suspension"], "outback": ["suspension"], "trezia": ["suspension"], "xv": ["suspension"]}, "suzuki": {"alto": ["suspension"], "baleno": ["suspension"], "ertiga": ["suspension"], "grand-vitara": ["suspension"], "ignis": ["suspension"], "jimny": ["suspension"], "kizashi": ["suspension"], "liana-baleno": ["suspension"], "lj-sj": ["suspension"], "samurai": ["suspension"], "splash": ["suspension"], "swace": ["suspension"], "swift": ["exhaust-systems", "suspension"], "sx4": ["suspension"], "sx4-s-cross": ["suspension"], "vitara": ["suspension"], "wagon-r": ["suspension"]}, "tesla": {"model-3": ["exhaust-systems", "suspension"], "model-s": ["exhaust-systems", "suspension"], "model-x": ["exhaust-systems"], "model-y": ["exhaust-systems", "suspension"]}, "toyota": {"4runner": ["suspension"], "alphard": ["suspension"], "auris": ["suspension"], "avensis": ["suspension"], "aygo": ["suspension"], "c-hr": ["suspension"], "camry": ["suspension"], "carina": ["suspension"], "celica": ["suspension"], "corolla": ["suspension"], "gr-yaris": ["exhaust-systems", "suspension"], "gt86-gr86": ["exhaust-systems", "suspension"], "highlander": ["suspension"], "hilux": ["suspension"], "iq": ["suspension"], "land-cruiser": ["suspension"], "mirai": ["suspension"], "mr2": ["suspension"], "paseo": ["suspension"], "passo": ["suspension"], "picnic": ["suspension"], "previa": ["suspension"], "prius": ["suspension"], "proace": ["suspension"], "rav-4": ["suspension"], "starlet": ["suspension"], "supra": ["exhaust-systems", "suspension"], "urban-cruiser": ["suspension"], "verso": ["suspension"], "vios": ["suspension"], "yaris": ["suspension"]}, "volkswagen": {"amarok-2h": ["exhaust-systems", "suspension"], "arteon-3h": ["exhaust-systems", "suspension"], "beetle-16": ["exhaust-systems", "suspension"], "beetle-1c-1y-9c": ["suspension"], "bora-1j-jetta-mk4": ["exhaust-systems", "suspension"], "bus-t3": ["suspension"], "bus-t4": ["suspension"], "bus-t5": ["exhaust-systems", "suspension"], "bus-t6": ["exhaust-systems", "suspension"], "bus-t7": ["suspension"], "caddy-2k": ["exhaust-systems", "suspension"], "caddy-sb": ["suspension"], "corrado-53i": ["exhaust-systems", "suspension"], "eos-1f": ["suspension"], "fox-5z": ["suspension"], "gol": ["suspension"], "golf-mk1": ["exhaust-systems", "suspension"], "golf-mk2": ["exhaust-systems", "suspension"], "golf-mk3": ["suspension"], "golf-mk4": ["exhaust-systems", "suspension"], "golf-mk5": ["exhaust-systems", "suspension"], "golf-mk6": ["exhaust-systems", "suspension"], "golf-mk7": ["body-parts", "exhaust-systems", "suspension"], "golf-mk8": ["exhaust-systems", "suspension"], "id.3": ["suspension"], "id.4": ["suspension"], "id.5": ["suspension"], "id.buzz": ["suspension"], "jetta-mk1": ["suspension"], "jetta-mk2": ["suspension"], "jetta-mk5": ["exhaust-systems", "suspension"], "jetta-mk6": ["exhaust-systems", "suspension"], "jetta-mk7": ["exhaust-systems"], "k\u00e4fer": ["suspension"], "lupo-6x-6es": ["suspension"], "passat-b2": ["suspension"], "passat-b3": ["suspension"], "passat-b4": ["suspension"], "passat-b5": ["suspension"], "passat-b6-b7-+-cc": ["suspension"], "passat-b8": ["suspension"], "phaeton": ["suspension"], "polo-6n-6n2-6kv": ["suspension"], "polo-6r": ["exhaust-systems", "suspension"], "polo-86c": ["suspension"], "polo-9n-9n3": ["exhaust-systems", "suspension"], "polo-aw": ["exhaust-systems", "suspension"], "scirocco-mk1-mk2": ["suspension"], "scirocco-mk3": ["exhaust-systems", "suspension"], "sharan-7m": ["suspension"], "sharan-7n": ["suspension"], "t-cross-c1": ["suspension"], "t-roc-a1": ["exhaust-systems", "suspension"], "taigo-cs": ["suspension"], "taro": ["suspension"], "tiguan-5n": ["suspension"], "tiguan-ad1": ["exhaust-systems", "suspension"], "touareg-7l": ["suspension"], "touareg-7p": ["suspension"], "touareg-cr": ["suspension"], "touran-1t": ["suspension"], "touran-5t": ["suspension"], "up-aa": ["exhaust-systems", "suspension"], "vento-1hx0-jetta-mk3": ["suspension"]}, "volkwagen": {"arteon-3h": ["exhaust-systems", "suspension"], "beetle-16": ["suspension"], "beetle-1c-1y-9c": ["suspension"], "bora-1j-jetta-mk4": ["suspension"], "bus-t3": ["suspension"], "bus-t4": ["suspension"], "bus-t5": ["suspension"], "bus-t6": ["suspension"], "caddy-sb": ["suspension"], "corrado-53i": ["suspension"], "eos-1f": ["exhaust-systems", "suspension"], "fox-5z": ["suspension"], "golf-mk1": ["suspension"], "golf-mk2": ["suspension"], "golf-mk3": ["suspension"], "golf-mk4": ["suspension"], "golf-mk5": ["exhaust-systems", "suspension"], "golf-mk6": ["exhaust-systems", "suspension"], "golf-mk7": ["exhaust-systems", "suspension"], "golf-mk8": ["exhaust-systems", "suspension"], "jetta-mk1": ["suspension"], "jetta-mk2": ["suspension"], "jetta-mk5": ["exhaust-systems", "suspension"], "jetta-mk6": ["exhaust-systems"], "lupo-6x-6es": ["suspension"], "passat-b5": ["suspension"], "passat-b6-b7-+-cc": ["exhaust-systems", "suspension"], "passat-b8": ["exhaust-systems", "suspension"], "polo-6n-6n2-6kv": ["suspension"], "polo-6r": ["exhaust-systems", "suspension"], "polo-9n-9n3": ["suspension"], "polo-aw": ["exhaust-systems", "suspension"], "scirocco-mk1-mk2": ["suspension"], "scirocco-mk3": ["exhaust-systems", "suspension"], "t-cross-c1": ["suspension"], "t-roc-a1": ["exhaust-systems", "suspension"], "taigo-cs": ["suspension"], "tiguan-5n": ["suspension"], "tiguan-ad1": ["suspension"], "touran-1t": ["suspension"], "touran-5t": ["suspension"], "up-aa": ["suspension"], "vento-1hx0-jetta-mk3": ["suspension"]}, "volvo": {"340-360": ["suspension"], "440-480": ["suspension"], "850": ["suspension"], "c30-m": ["suspension"], "c40-x": ["suspension"], "c70-m": ["suspension"], "c70-n": ["suspension"], "s40-m": ["suspension"], "s40-v40-v": ["suspension"], "s40-v50-m": ["suspension"], "s60-r": ["suspension"], "s60-v60-f": ["suspension"], "s60-v60-z": ["suspension"], "s70-v70-l": ["suspension"], "s80-a": ["suspension"], "s80-t": ["suspension"], "s90-v90-964": ["suspension"], "s90-v90-p": ["suspension"], "v40-m": ["suspension"], "v70-b": ["suspension"], "v70-s": ["suspension"], "v90-p": ["suspension"], "xc40-x": ["suspension"], "xc60-d": ["suspension"], "xc60-u": ["suspension"], "xc70-b": ["suspension"], "xc70-s": ["suspension"], "xc90-c": ["suspension"], "xc90-l": ["suspension"]}}]
    var mfgArr = [{% for link in linklists.manufacturer.links %}"{{link.handle}}",{% endfor %}];
    var arr, current_field, dropdown_val1, dropdown_val2, dropdown_val3, dropdown_val4,search_tag,tagstr,newtext;
    
    console.log("menuArr ::"+JSON.stringify(menuArr));  
    console.log("mfgArr :: "+mfgArr);     
    disableSearch();

    // dropdown1 build
    window.onload = function() {
      var dropdownContent = document.getElementById('brand-list');
      Object.keys(menuArr).forEach(function(brand) {
          var aElement = document.createElement('a');
          aElement.href = '#';
          aElement.setAttribute('data-value', brand);
          aElement.textContent = brand.charAt(0).toUpperCase() + brand.slice(1);  // Capitalizes the first letter
          dropdownContent.appendChild(aElement);
      });
  };

    //Out side click
    $(document).on("click", function(event){
        var $trigger = $(".dropdown");
        if($trigger !== event.target && !$trigger.has(event.target).length){          
          //console.log("trigger");
          $(".dropdown-content").hide();
        }            
    });
      //Drop btn Click
    $(document).on('click','.dropbtn',function() {
      $(".dropdown").removeClass("active");
      $(this).parents(".dropdown").addClass("active");
      $(".dropdown").not(".active").find(".dropdown-content").hide();
      $(this).parents(".dropdown").find(".dropdown-content").toggle();     
    }); 
    // dropdown1
    $(document).on('click','#dropdown-field_1 a',function() {
      
      $(this).parents(".dropdown").find(".dropdown-content").toggle();      
      dropdown_val1 = $(this).attr("data-value");  
      newtext = dropdown_val1.toString().replace(/-/g, " ");
      var flag = 0;
	  $(this).parents(".dropdown").find(".dropbtn").text(newtext);
      tagstr = dropdown_val1;
      $("#dropdown-field_2 a").remove(); 
      $("#dropdown-field_3 a").remove(); 
      $("#dropdown-field_4 a").remove();
      $("#dropbtn2").text('Model').prop('disabled',true);
      $("#dropbtn3").text('Parts').prop('disabled',true);
      $("#dropbtn4").text('Manufacturer').prop('disabled',true);
      enableSearch();
      $.each(menuArr,function(key,val){ 
       // console.log("val ::"+JSON.stringify(val));
        //console.log("dropdown_val :: "+dropdown_val1);
        $.each(val,function(key1,val1){
          if(key1 == dropdown_val1)  
          { 
           // console.log("val1 ::"+JSON.stringify(val1));
            if(jQuery.type(val1) === 'object'){ 
              flag = 1;
              $.each(val1,function(key2,val2){                  
                $("#dropdown-field_2 .dropdown-content-list").append("<a href='#' data-value='"+key2+"'>"+key2.replace("-", " ")+"</a>");
              });
            }
            /*else{              
              $("#dropdown-field_2 .dropdown-content-list").append("<a href='#' data-value='"+key1+"'>"+val1.replace("-", " ")+"</a>");
            }*/
          }
        });
      });
      if(flag == 1) {
      $("#dropbtn2").prop('disabled',false); 
      }
      else{
        $("#dropbtn2").prop('disabled',true); 
      }
    });
    //Dropdown 2
    $(document).on('click','#dropdown-field_2 a',function() {      
      dropdown_val2 = $(this).attr("data-value");
      newtext = dropdown_val2.toString().replace(/-/g, " ");
      $(this).parents(".dropdown").find(".dropbtn").text(newtext);
      tagstr = dropdown_val1+"_"+dropdown_val2;
      $("#dropdown-field_3 a").remove();     
      $("#dropdown-field_4 a").remove();     
      $("#dropbtn3").text('Parts').prop('disabled',true);
      $("#dropbtn4").text('Manufacturer').prop('disabled',true);  
      var flag = 0;
      $.each(menuArr,function(key,val){ 
       // console.log("val ::"+JSON.stringify(val));
       // console.log("dropdown_val :: "+dropdown_val1);
        $.each(val,function(key1,val1){
          if(key1 == dropdown_val1)  
          { 
         //   console.log("val1 ::"+JSON.stringify(val1));
            if(jQuery.type(val1) === 'object'){              
              $.each(val1,function(key2,val2){                
                if(key2 == dropdown_val2)  
                {  
               //   console.log("in if key2 :: val2");
                  if(Array.isArray(val2)){
                    flag = 1;
                 //   console.log("yes object");
                    $.each(val2,function(key3,val3){
                    var newval = val3.toString().replace(/-/g, " ");
                  //  console.log("newval :: "+newval);
                    $("#dropdown-field_3 .dropdown-content-list").append("<a href='#' data-value='"+val3+"'>"+newval+"</a>");
                    });
                    }
                  else{
                    var newval1 = val2.toString().replace(/-/g, " ");
                //    console.log("newval1 :: "+newval1);
                    $("#dropdown-field_3 .dropdown-content-list").append("<a href='#' data-value='"+newval1+"'>"+newval1+"</a>");
                    
                  }
                  if(flag == 1)
                  {
                    $("#dropbtn3").prop('disabled',false);
                  } 
                  else{
                 //   console.log("parts else");
                    $("#dropbtn3").prop('disabled',true); 
                  }
                }
              });
            }           
          }
        });
      });      
      $(this).parents(".dropdown").find(".dropdown-content").toggle();
      
    });  
    //Dropdown 3
    $(document).on('click','#dropdown-field_3 a',function() {
      dropdown_val3 = $(this).attr("data-value");
      newtext = dropdown_val3.toString().replace(/-/g, " ");
      $(this).parents(".dropdown").find(".dropbtn").text(newtext);
      tagstr = dropdown_val1+"_"+dropdown_val2+"_"+dropdown_val3;
      // disableSearch();
      $("#dropdown-field_4 a").remove().prop('disabled',true);    
      $("#dropbtn4").text("Manufacturer");
      var mfgstr = dropdown_val1+"_"+dropdown_val2+"_"+dropdown_val3;
     // console.log("mfgstr :: "+mfgstr);
      var flag = 0;
      $.each(mfgArr,function(key,val){
        //console.log("val :: "+val);
       // console.log("mfgstr :: "+mfgstr);
        if(val.indexOf(mfgstr) > -1)  
        {   
          flag = 1;
          var mfgnewval = val.substring(val.lastIndexOf('_')).replace("_",'').replace("-"," ");
         // console.log("mfgnewval :: "+mfgnewval);          
          $("#dropdown-field_4 .dropdown-content-list").append("<a href='#' data-value='"+val.substring(val.lastIndexOf('_')).replace("_",'')+"'>"+val.substring(val.lastIndexOf('_')).replace("_",'').replace("-"," ")+"</a>");
          
        }
        if(flag == 1)
        {          
        	$("#dropbtn4").prop('disabled',false);
        } 
        else{         
           $("#dropbtn4").prop('disabled',true); 
        }
      });       
       $(this).parents(".dropdown").find(".dropdown-content").toggle(); 
      
    }); 
     //Dropdown 4    
    $(document).on('click','#dropdown-field_4 a',function() {        
      dropdown_val4 = $(this).attr("data-value");
      newtext = dropdown_val4.toString().replace(/-/g, " ");
      $(this).parents(".dropdown").find(".dropbtn").text(newtext);
      enableSearch();
      tagstr = dropdown_val1+"_"+dropdown_val2+"_"+dropdown_val3+"_"+dropdown_val4; 
      $(this).parents(".dropdown").find(".dropdown-content").toggle();
      
    });
    //Search Click
    $(document).on('click','#sd_search',function() {
      var pageurl = "https://orange-tuning.myshopify.com/search?q=tag:";
      window.location.replace(pageurl+tagstr);
    });
    // Reset Click
    $(document).on('click','#sd_reset',function() {
      disableSearch();     
      $("#dropdown-field_2 a").remove();
      $("#dropdown-field_3 a").remove();
      $("#dropdown-field_4 a").remove();     
      $("#dropbtn2").prop('disabled',true);
      $("#dropbtn3").prop('disabled',true);
      $("#dropbtn4").prop('disabled',true);
      $("#dropbtn1").text('Maker');
      $("#dropbtn2").text('Model');
      $("#dropbtn3").text('Parts');
      $("#dropbtn4").text('Manufacturer');
    });
     
    // input seach box
    $("input.myInput").keyup(function(){
      var filter, a, i;      
      filter = $(this).val().toUpperCase();
      //console.log("filter :: "+filter);
      a = $(this).parents(".dropdown-content").find("a");
      for (i = 0; i < a.length; i++) {
        var txtValue = a[i].textContent || a[i].innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          a[i].style.display = "";
        } else {
          a[i].style.display = "none";
        }
      }
    });
  
  });  
  
  function disableSearch()
  {
    $("#sd_search").prop('disabled',true);
  }
  function enableSearch()
  {
    $("#sd_search").prop('disabled',false);
  }
 
</script>